@import "tailwindcss";

@theme {
    --color-accent: #e85d04;     /* main brand (orange) */
    --color-accent-light: #ffedd5; /* soft orange background */
    
    --color-primary: #ffffff;    /* main background */
    --color-secondary: #0f172a;  /* main text (dark navy) */
    
    --color-muted: #64748b;      /* secondary text */
    --color-border: #e5e7eb;     /* borders */
}